@font-face {
    font-family: Opensans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Opensans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: Opensans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
    color: white;
    overflow-x: hidden;
    font-family: Opensans-Regular;
    font-weight: 50;
    margin: 0;
}

*:focus {
    position: absolute;
    left: 0;
    background-color: #1e1e1e;
    width: 100vw;
    height: 100vh;
    font-size: 8vw;
    text-align: center;
    vertical-align: middle;
    border: 15px solid white;
}

a, a:visited {
    color: #62a6ff;
}

#home {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: block;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

#home {
    margin: 0;
    left: 0;
    background-color: #1e1e1e;
    width: 100vw;
    height: 100vh;
    font-size: 8vw;
    text-align: center;
    vertical-align: middle;
    border: 15px solid white;
}